.logo {
  font-family: Montserrat, sans-serif;
  box-sizing: border-box;
  color: #7e72f2;
}
.header-btn {
  box-sizing: border-box;
  background: #7e72f2;
  height: 46px;
  min-width: 120px;
  outline: none;
  border: none;
  border-radius: 3px;
  cursor: pointer;
  font-family: Montserrat, sans-serif;
  font-size: 0.875rem;
  font-weight: 400;
  line-height: 1;
  padding: 8px 12px;
  text-transform: uppercase;
  transition: 0.3s;
  background-color: #7e72f2;
  color: #fff;
}
